<h2>Edit Profile</h2>



<%= form_with model: @user do |form| %>
<div>
    <%= form.label :username %>
    <%= form.text_field :username %>
    <% @user.errors.full_messages_for(:username).each do |message| %>
      <div><%= message %></div>
    <% end %>
    </div>
    <div>
    <%= form.label :email %>
    <%= form.email_field :email, placeholder: "example@example.com" %>
     <% @user.errors.full_messages_for(:email).each do |message| %>
      <div><%= message %></div>
    <% end %>
     <div>
    <div>
    <%= form.label :password %>
    <%= form.password_field :password %>
     <% @user.errors.full_messages_for(:password).each do |message| %>
      <div><%= message %></div>
    <% end %>
     <div>
    <%= form.submit "Sign up"%>

<% end %>